body{
  padding: 0px;
  margin: 0px;
  font-family: 'Saira Condensed', sans-serif;
  background-color: rgb(255,210,0);
}

.navbar{
  background-color: rgb(0,0,0);
  margin: 5px;
  padding: 15px;
}

/*Logo*/
#logo-link{
  text-decoration: none;
}

#logo-img{
  margin: 3px 20px 0px 0px;
  background: url("../img/hamburgerezde_logo.png") no-repeat;
  width: 130px;
  height: 110px;
}

button:focus{
  outline:0;
}

.navbar-collapse{
  padding-left: 25px;
  padding-right: 25px;
}

.nav-item{
  width: 75px;
  text-align: center;
  margin: 0px;
}

/*Make the mobile menu in a row*/
.navbar-nav{
  flex-direction: row;
}

@media(max-width: 560px){
   .navbar-nav{
    flex-direction: column;
  }
  .nav-item{
    width: 100%;
  }

  .nav-link{
    display: flex;
  }

  .menu-text{
    padding-left: 20px;
    font-size: 20px;
  }
}

.form-control{
  width: 70%;
}


/*Icons*/
svg {
  display: block;
  margin: 0 auto;
  padding-bottom: 7px;
  width:32px;
  height:32px;
}

/*Icons*/
.si-glyph-fill {
  fill: rgb(255,210,0);
}

.nav-link:hover .si-glyph-fill{
  fill: rgb(0,0,0);
}

/* toggle button*/
.navbar-toggler{
  background: rgb(255,210,0);
}

.navbar-toggler:hover{
  background: rgb(255,240,50);
}

.navbar-light .navbar-nav .nav-link{
  padding: 10px;
}

/* Menu link item color*/
.navbar-light .navbar-nav .nav-link{
  color: rgb(255,210,0);
}

/* Menu active item color*/
.navbar-light .navbar-nav .active>.nav-link .menu-text{
  color: rgb(255,210,0);
  text-decoration: underline;
}

/* Menu disbled link item color*/
.navbar-light .navbar-nav .nav-link.disabled{
  color: rgb(205,160,0);
}

/* Menu button color*/
.btn-outline-success{
  color: rgb(255,210,0);
  background-color: transparent;
  border-color: rgb(255,210,0);
}

.navbar-light .navbar-nav .active>.nav-link:hover .menu-text{
  color: rgb(0,0,0);
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255,210,0);
}

/* Menu button color*/
.navbar-light .navbar-nav .nav-link:hover{
  color: rgb(0,0,0);
  background-color: rgb(255,210,0);
  border-color: rgb(255,210,0);
}

.btn-outline-success:hover, .btn-outline-success:active {
    color: rgb(0,0,0);
    background-color: rgb(255,210,0);
    border-color: rgb(255,210,0);
}

.btn-outline-success:focus{
    box-shadow: 0 0 0 3px rgba(255,210,0,.5);
}

.example-text{
  margin: 20px 0px 30px 0px;
  text-align: justify;
  text-justify: inter-word;
}

ul{
  display: inline;
}

/* Jumbotron image */
.jumbotron{
  padding: 0px;
  margin-top: 25px;
}

/*Tiles*/
#menu-tile, #special-tile, #map-tile{
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 0 30px #3F0C1F;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

/*Tiles hover*/
#menu-tile:hover, #special-tile:hover, #map-tile:hover{
  box-shadow: 0 0 50px rgb(125,80,0);
  border: 2px solid rgb(125,80,0);
}

#menu-tile{
  background: url("../img/hambi_menu.jpg") no-repeat;
  background-position: center;
}

#special-tile{
  background: url("../img/hambi_special.jpg") no-repeat;
  background-position: center;
}

#menu-tile span, #special-tile span, #map-tile span{
  position: absolute;
  bottom: 0;
  right 0;
  width: 100%;
  text-align: center;
  font-size: 28px;
  background-color: rgb(0,0,0);
  color: rgb(255,210,0);
  opacity: 0.8;
}

footer{
  background: rgb(0,0,0);
  margin: 5px;
  padding: 15px;
  padding-bottom: 40px;
  color: rgb(255,210,0);
}

footer span{
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 0px;
  display: block;
}

footer ul{
  display: block;
  list-style: circle;
  margin-top: 5px;
  margin-left: 0px;

}

footer a{
  text-decoration: none;
  color: rgb(205,160,0);
}

footer a:visited{
  text-decoration: none;
  color: rgb(205,160,0);
}

footer a:hover{
  text-decoration: none;
  color: rgb(255,210,0);
}

footer .delivery{
  font-style: italic;
  padding-right: 10px;
}

footer hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(255,210,0);
  margin-top: 45px;
  padding: 0;
}

.hidden_hr{
  display: none;
}

/******** Large devices only ********/
@media (min-width: 1200px){
  .jumbotron-img img{
    background: url("../img/hambi_1200.jpg") no-repeat;
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
}

/******** Medium devices only ********/
@media (min-width: 992px) and (max-width: 1199px){
  .jumbotron-img img{
    background: url("../img/hambi_1200.jpg") no-repeat;
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
}

/******** Small devices only ********/
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron-img img{
    background: url("../img/hambi_768.jpg") no-repeat;
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
}

/******** Extra small devices only ********/
@media (max-width: 767px){
  .jumbotron-img img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

  .hidden_hr{
    display: block;
  }

  footer{
    text-align: center;
  }

  footer section{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  footer li{
    list-style: none;
  }
}
